body {
  margin: 0;
  font-family: "Avenir", "Avenir Next", sans-serif;
  background-color: #fafafa;
  color: #060606;
  text-align: center;
}

.full-width-header {
  background-color: #e2dd17;
  padding: 30px 0;   
  text-align: center;
}

.full-width-header p {
  text-align: center;
  font-size: 30px;
}

.landing {
  max-width: 800px;
  margin: 80px auto;
  padding: 0 20px;
}

.headline {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 40px;
}

.landing h1 {
  display: block;          
  width: 100vw;             
  background-color: #e2dd17; 
  padding: 30px 0;           
  margin: 0;              
  text-align: center;
}

.form-container {
  max-width: 2000px;
}

.white-highlight {
  color: #fff;
}

.landing p {
  font-size: 20px;
  text-align: left;
}

.below-form-text {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
  margin-top: 30px;
}

.headline-bellow p {
  font-size: 48px;
}

.yellow-highlight {
  background-color: #e2dd17;
  padding: 0 4px;
  border-radius: 3px;
}
